html {
    background-image: url("brown.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
h1 {
    text-align: center;
    background-color: #e6dacc;
    font-family:times new roman, sans serif;
    border: 2px dotted;
    border-color: blue;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    width: 250px;
    margin-bottom: 20px;   
}
p {
    background-color: hsl(32, 34%, 85%);
    font-style: italic;
    padding: 20px;
    border: 3px black;
    border-right-style: dashed;
    border-top-style: double;
    border-left-style: dotted;
    border-bottom-style: groove;
    width: 500px;
}
body span {
    font-style: italic;
	font-weight: bold; 
    color: #ffffff;
    margin: 2px;
    margin-left: 5px;
    margin-right: 5px;
}